{% extends 'style.html' %}
{% load static %}

{% block title %}整備内容通知票{% endblock %}
{% block nav-title %}一覧表示{% endblock %}
{% block contents %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">処置待ち</h4>
                </div>
                <div class="card-body">
                    <div class="tabgle-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>No.</th>
                                <th>設備名</th>
                                <th>管理票番号</th>
                                <th>状態</th>
                                <th>表示</th>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>SDA810</td>
                                    <td>2202130100</td>
                                    <td>処置待ち</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>SDA813</td>
                                    <td>2202130200</td>
                                    <td>処置待ち</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>SDA810</td>
                                    <td>2202130300</td>
                                    <td>処置待ち</td>
                                    <td></td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">PC確認待ち</h4>
                </div>
                <div class="card-body">
                    <div class="tabgle-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>No.</th>
                                <th>設備名</th>
                                <th>管理票番号</th>
                                <th>状態</th>
                                <th>表示</th>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>SDA810</td>
                                    <td>2202130100</td>
                                    <td>PC確認待ち</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>SDA813</td>
                                    <td>2202130200</td>
                                    <td>PC確認待ち</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>SDA810</td>
                                    <td>2202130300</td>
                                    <td>PC確認待ち</td>
                                    <td></td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">SL・主任確認待ち</h4>
                </div>
                <div class="card-body">
                    <div class="tabgle-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>No.</th>
                                <th>設備名</th>
                                <th>管理票番号</th>
                                <th>状態</th>
                                <th>表示</th>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>SDA810</td>
                                    <td>2202130100</td>
                                    <td>SL・主任確認待ち</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>SDA813</td>
                                    <td>2202130200</td>
                                    <td>SL・主任確認待ち</td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>SDA810</td>
                                    <td>2202130300</td>
                                    <td>SL・主任確認待ち</td>
                                    <td></td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}